@font-face {
    font-family: Poppins;
    src: url(../font/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: Playfair_Display;
    src: url(../font/Playfair_Display/static/PlayfairDisplay-Regular.ttf);
}

@font-face {
    font-family: Space_Mono;
    src: url(../font/Space_Mono/SpaceMono-Regular.ttf);
}

@font-face {
    font-family: Space_Mono_Bold;
    src: url(../font/Space_Mono/SpaceMono-Bold.ttf);
}

:root {
    /* Rules */
    font-variant-ligatures: none;

    /* Fonts */
    --Poppins: Poppins;
    --Playfair_Display: Playfair_Display;
    --Space_Mono: Space_Mono;
    --Space_Mono_Bold: Space_Mono_Bold;

    /* Colors */
    --white: #ffffff;
    --background: rgb(29, 29, 29);
    
}

html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: var(--background);
    height: 100%;
    width: 100%;
}

nav {
    display: flex;
    list-style-type: none;
    background-color: transparent;
    justify-content: center;
    transition-duration: 0.2s;
}

nav:hover {
    transition-duration: 0.2s;
    background-color: #2b2b2b;
}

.navItem {
    color: rgb(158, 158, 158);
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    text-decoration: none;
    font-size: 1em;
    font-family: Poppins;
}

.navItem:hover {
    color: #eeeeee;
    transition: 0.2s;
}

.active {
    color: white;
}

.headerText {
    display: flex;
    width: 70%;
    flex-direction: column;
}

h1 {
    color: #ffffff;
    font-family: var(--Space_Mono_Bold);
    font-size: 5em;
    margin-top:  0.2em;
    margin-bottom: 0.2em;
    padding-right: 1em;
}

h2 {
    color: #ffffff;
    font-family: var(--Space_Mono);
    font-size: 1.5em;
    margin-top:  2.5em;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.parent {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 2em;
    grid-row-gap: 2em; 
    gap: 2em;
    width: 80%;
    max-width: 1300px;
    /* grid-auto-flow: row; */
    width: 80vw;
    height: calc(40vw - 8em);
}

.div1, .div2, .div3, .div4, .div5, .div6, .div7, .div8, .div9 {
    background-color: rgba(168, 168, 168, 0.476);
    border-radius: 2em;
    min-height: 4em;
    transition: transform 0.2s ease, margin 0.2s ease;
    display: flex;
   align-items: center;
}

.div1:hover, .div2:hover, .div3:hover, .div4:hover, .div5:hover, .div6:hover, .div7:hover, .div8:hover, .div9:hover {
    transform: scale(1.02);
    margin: -0.25em;
    filter: drop-shadow(0px 0px 0.3em #9b9b9b);
}
    
.div1 { grid-area: 1 / 1 / 3 / 3; }
.div2 { grid-area: 1 / 3 / 2 / 5; }
.div3 { grid-area: 1 / 5 / 2 / 7; }
.div4 { grid-area: 2 / 3 / 3 / 5; }
.div5 { grid-area: 2 / 5 / 3 / 7; }
.div6 { grid-area: 1 / 7 / 4 / 9; }
.div7 { grid-area: 3 / 1 / 5 / 4; }
.div8 { grid-area: 3 / 4 / 5 / 7; }
.div9 { grid-area: 4 / 7 / 5 / 9; }

#VisitOslo {
    width: 100%;
    height: 100%;
    border-radius: 2em;
}

#LukaszHeader {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2em;
}

.image-thumbnail {
    width: 200px;
    cursor: pointer;
}

/* Overlay styles */
.image-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Container for the enlarged image */
.image-container {
    max-height: 80%; /* Half of the viewport height */
    width: 80vmin;
    height: 80vmin; 
    display: flex;
    justify-content: center;
}

/* Enlarged image styles */
.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2em;
}

/* Close button styles */
.close-image-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.taskText {
    color: #ffffff;
    text-decoration: none;
    font-size: 2em;
    font-family: Poppins;
    text-align: center;
    width: 100%;
    display: inline-block;
}